[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/flecs"]
	path = extern/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "extern/fcl"]
	path = extern/fcl
	url = https://github.com/flexible-collision-library/fcl
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://github.com/libigl/eigen
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "extern/glew-cmake"]
	path = extern/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
